.card{
background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  width: 200px;
    height: 170px;
}
.card__h1{
    font-size: 1rem;
    padding: 10px;
}
.card__h2{
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.card__main{
  padding-left: 10px;
}
@media (min-width:200px) and (max-width:340px){
  .card{

      width: 160px;
        height: 130px;
    }
    .card__h1{
        font-size: .9rem;
        padding: 5px;
    }
    .card__h2{
        font-size: .8rem;
        padding-bottom: 7px;
    }
    .card__main{
      padding-left: 8px;
    }

}