.instructor{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    width: 90vw;
    height: 90vh;
    position: absolute;
    left: 2rem;
    top: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 850ms ease 0s;
  }
  .instructor__main{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;     
      overflow: scroll;
  }

  .main__card{
      padding: 10px;
    }
    .instructor__main::-webkit-scrollbar{
        display: none;
    }
/* 
    @media(min-width:1200px){

    .instructor__card{
        position: relative;
        top: 30vh;
      overflow: scroll;
      max-height: 60vh ;
      right: 40rem;
      max-width: 70vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }

  }
@media(max-width:888px){
    .instructor__card{
        position: relative;
        top: 30vh;
      overflow: scroll;
      max-height: 60vh ;
      max-width: 60vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }
} */

@media (max-width:760px){
    .instructor{
        width: 100vw;
        left: 0;
        height: 100vh;
        top: 0;
        border-radius: 0;
    }

  

}