.sidebar{
    position: relative;
    left: 2rem;
    top: 2rem;
    width: 10rem;
    height: 90vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.879));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    -webkit-box-pack: center;
    justify-content: center;
   transition: all 850ms ease 0s; 
   z-index: 1;
    text-align: center;
}
.sidebar__main{
    height: 60vh;
    padding-top: 10rem;
    
}


    @media (max-width:760px){
        .sidebar{
            width: 5rem;
        }
        .sidebar__main{
            display: flex;
            flex-direction: column;
            padding-top: 10rem;
           
        }
        .h3{
            display: none;
        }
        .home__image{
           
            padding-bottom: 20px;
            width: 50px;
       
        }
        .youtube__image{
            width: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .about__image{
            width: 50px;        
            padding-top: 20px;
        }
    }
    
    @media (max-height:900px){
        img  {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    @media (min-height:900px){
        .sidebar__main{
           padding-top: 15rem;
        }
         img  {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }

    @media (min-width:200px ) and (max-width:300px){
        .sidebar{
            width: 5rem;
            left: .5rem;
            top: 2rem;        }   
    }