.youtube{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

    width: 80vw;
    height: 90vh;
    position: absolute;
    left: 2rem;
    top: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 850ms ease 0s;
  }
  @media (max-width:760px){
      .youtube{
          width: 100vw;
          left: 0;
          height: 100vh;
          top: 0;
          border-radius: 0;
      }
  
  }

.youtube__main{
width: 70vw;
height: 90vh;
overflow-x: scroll;
overflow-y: scroll;

}
.youtube__card{
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    flex-wrap: wrap;
    padding-left: 10rem;
}
.youtube__main::-webkit-scrollbar{
    display: none;
}
.youtube__iframe{
    padding: 20px;
}