.youtube{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    width: 90vw;
    height: 90vh;
    position: absolute;
    left: 2rem;
    top: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 850ms ease 0s;
  }
  @media (max-width:760px){
      .youtube{
          width: 100vw;
          left: 0;
          height: 100vh;
          top: 0;
          border-radius: 0;
      }
      .youtube__main{
          padding: 20px;
          height: 93vh !important;
      }
      .youtube__title{
           text-align: center;
        padding-left: 8rem;
    }
    .youtube__card{
        
        float: right;
        padding-left: 26vw  !important;
    }    
  
  }

.youtube__main{
min-width: 80vw;
height: 90vh;
overflow-x: scroll;
overflow-y: scroll;
display: flex;
flex-direction: column;
}
.youtube__title{
    text-align: center;
    padding-bottom: 20px;
}


.youtube__card{
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    flex-wrap: wrap;
    padding-left: 12rem;
   

}
.youtube__main::-webkit-scrollbar{
    display: none;
}
.youtube__iframe{
    padding: 10px;
    width: 15rem;
    height: 15rem;
    border-radius: 30px;

}